%header.main-header
  %a.logo{:href => "/"}
    / Add the class icon to your logo image or logo icon to add the margining
    = t("shared.brand")
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top{:role => "navigation"}
    / Sidebar toggle button
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .navbar-right
      %ul.nav.navbar-nav
        %li
          %a{:href => "/"}
            %span
              = t("brand_main_menu.home.title")
        %li
          %a{:href => ""}
            %span
              = t("brand_main_menu.features.title")

        - if !ENV["show_pricing"]
          %li
            %a{:href => ""}
              %span
                = t("brand_main_menu.pricing.title")

        - if !current_user.nil?
          %li
            %a{:href => "/users/edit"}
              %span
                = t("shared.user.welcome", :user => current_user.name)
          %li
            %a{:href => ""}
              %span
                - if !current_user.plan.nil?
                  = t("shared.user.plan", :plan => current_user.plan.name)
          %li
            %a{:href => dashboard_path}
              %span
                = t("shared.user.dashboard")
          %li
            %a{:href => "/users/sign_out"}
              %span
                = t("shared.user.sign_out")
        - else
          %li
            %a{:href => "/users/sign_in"}
              %span
                = t("shared.user.sign_in")
          %li
            %a{:href => "/users/sign_up"}
              %span
                = t("shared.user.sign_up")
