= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      %i.fa.fa-users
      = t("delete_subject.title", name:@subject.external_email)
    %ol.breadcrumb
      %li
        %a{:href => subjects_list_path}
          %i.fa.fa-users
          = t("subjects.title")
      %li.active
        = t("delete_subject.title", name:@subject.external_email)

  .content
    .row
      .col-md-12
        %p
          = t("delete_subject.delete_message")
        %a{:href => subject_destroy_path(@subject), :class => "btn btn-success"}
          = t("delete_subject.submit_btn")

        %a{:href => subjects_list_path, :class => "btn btn-danger"}
          = t("delete_subject.cancel_btn")
