.col-md-12
  .box
    .box-header
    .box-body.table-responsive-no-padding
      - if !badges.empty?
        %table.table.table-hover
          %tbody
            %tr
              %th
                = t("badges_list.logo_column")
              %th
                = t("badges_list.status_column")  
              %th
                = t("badges_list.name_column")
              %th
                = t("badges_list.app_column")
              %th
                = t("badges_list.actions_column")

            - badges.each_with_index do |badge, index|
              %tr
                %td
                  = cl_image_tag(badge.image, :width => 50, :height => 50, :crop => :scale)
                %td
                  = badge.name    
                %td
                  - if badge.is_active?
                    %span.badge.bg-green
                      = t("badges_list.active_badge")
                  - else
                    %span.badge.bg-red
                      = t("badges_list.inactive_badge")
                %td
                  = badge.site.name
                %td
                  %a{:href => ""}
                    %i.fa.fa-eye
                    = t("badges_list.more_link")