.col-md-12
  .box
    .box-header
    .box-body.table-responsive-no-padding
      - if !badges.empty?
        %table.table.table-hover
          %tbody
            %tr
              %th
                = t("badges_list.logo_column")
              %th
                = t("badges_list.name_column")
              %th
                = t("badges_list.event_column")  
              %th
                = t("badges_list.logs_column")
              %th
                = t("badges_list.status_column")
              %th
                = t("badges_list.app_column")
              %th
                = t("badges_list.actions_column")

            - badges.each_with_index do |badge, index|
              %tr
                %td
                  = cl_image_tag(badge.image, :width => 50, :height => 50, :crop => :scale)
                %td
                  = badge.name
                %td
                  - if !badge.events.nil? && badge.events.count > 0
                    %a{:href => event_show_path(badge.events.first)}
                      = badge.events.first.name   
                %td
                  - if !badge.events.empty?
                    - if !badge.events.first.event_logs_count.nil? && badge.events.first.event_logs_count > 0
                      %span.badge.bg-light-blue
                        = badge.events.first.event_logs_count
                    - else
                      %span.badge.bg-light-blue
                        0
                  - else
                    %span.badge.bg-light-blue
                      0
                %td
                  - if badge.is_active?
                    %span.badge.bg-green
                      = t("badges_list.active_badge")
                  - else
                    %span.badge.bg-red
                      = t("badges_list.inactive_badge")
                %td
                  %a{:href => application_show_path(badge.site)}
                    = badge.site.name
                %td
                  %a{:href => ""}
                    %i.fa.fa-eye
                    = t("badges_list.more_link")
                  \
                  %a{:href => badge_edit_path(badge)}
                    %i.fa.fa-edit
                    = t("badges_list.edit_link")
                  \
                  %a{:href => badge_delete_path(badge)}
                    %i.fa.fa-trash-o
                    = t("badges_list.delete_link")

      - else
        %p
          = t("badges.no_badges_message")
        %p
          %a{:href => badge_create_path, :class => "btn btn-success"}
            = t("badges.add_title")
