%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li
        %a{:href => dashboard_path}
          %i.fa.fa-dashboard
          %span
            = t("main_menu.dashboard.title")

      %li
        %a{:href => applications_list_path}
          %i.fa.fa-code
          %span
            = t("main_menu.applications.title")

      %li
        %a{:href => activities_list_path}
          %i.fa.fa-rocket
          %span
            = t("main_menu.activities.title")

      %li
        %a{:href => events_list_path}
          %i.fa.fa-gears
          %span
            = t("main_menu.events.title")

      %li
        %a{:href => badges_list_path}
          %i.fa.fa-trophy
          %span
            = t("main_menu.badges.title")

      %li
        %a{:href => subjects_list_path}
          %i.fa.fa-users
          %span
            = t("main_menu.users.title")
