= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      %i.fa.fa-trophy
      = t("badges.title")
      %small
        %a{:href => badge_create_path}
          =  t("apps.add_link")
    %ol.breadcrumb
      %li
        %a{:href => applications_list_path}
          %i.fa.fa-trophy
          = t("badges.title")
      %li.active
        = t("badges.home_breadcrumb")

  .content
    .row
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name.to_s)
    .row
      .col-md-12
        = paginate @badges
    .row
      =  render :partial => 'badges/partials/badges_list', :locals => { :badges => @badges }
    .row
      .col-md-12
        = paginate @badges
