= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      %i.fa.fa-rocket
      = t("activities.title")
      %small
        %a{:href => ""}
          =  t("activities.add_link")
    %ol.breadcrumb
      %li
        %a{:href => activities_list_path}
          %i.fa.fa-rocket
          = t("activities.title")
      %li.active 
        = t("activities.home_breadcrumb")

  .content
    .row
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name.to_s)
    .row
      .col-md-12
        = paginate @activities   
    .row
      =  render :partial => 'activities/partials/activities_list', :locals => { :activities => @activities }
    