= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      %i.fa.fa-rocket
      = @activity.name
    %ol.breadcrumb
      %li
        %a{:href => application_show_path(:id => @activity.site.slugs)}
          %i.fa.fa-code
          = @activity.site.name
      %li
        %a{:href => ""}
          %i.fa.fa-rocket
          = t("activities.title")
      %li.active 
        = @activity.name

  .content
    .row
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name.to_s)

    .row
      .col-md-9
        .box
          .box-header
            %h4.box-title
              = t("activities.description_title")
          .box-body  
            %p
              = @activity.description 

            .row  
              .col-md-6  
                =  render :partial => 'activities/partials/last_logs', :locals => { :activity_logs => @activity_logs }  
            


      .col-md-3
        =  render :partial => 'events/partials/event_teasers', :locals => { :events => @events }