= render "shared/main_menu"
.content-wrapper
  .content-header
    %h1
      %i.fa.fa-rocket
      = @activity.name
    %ol.breadcrumb
      %li
        %a{:href => application_show_path(:id => @activity.site.slugs)}
          %i.fa.fa-code
          = @activity.site.name
      %li
        %a{:href => activities_list_path}
          %i.fa.fa-rocket
          = t("activities.title")
      %li.active
        = @activity.name

  .content
    .row
      - flash.each do |name, msg|
        = content_tag :div, msg, class: flash_class(name.to_s)

    .row
      .col-md-9
        .box
          .box-header
            %h4.box-title
              = t("activities.description_title")
          .box-body
            #activity_name{:style => "display:none"}
              = @activity.slugs.first
            %p
              = @activity.description
            .alert.alert-info
              %strong
                = t("activity_detail.id", id: @activity.id)

            .row
              .col-md-12
                =  render :partial => 'activities/partials/last_logs', :locals => { :activity_logs => @activity_logs }
            %hr
            .row
              .col-md-12
                - if  !@activity_logs.empty?
                  =  render :partial => 'activities/partials/logs_behavior', :locals => {:activity => @activity}



      .col-md-3
        =  render :partial => 'events/partials/event_teasers', :locals => { :events => @events }
