- if !user_sites.empty?
  - user_sites.each_with_index do |app,index|
    .col-md-4
      .box.app_box
        .box-header
          %a{:href => application_show_path(:id => app.slugs)}
            %h3.box-title
              = app.name
          .box-tools.pull-right
            %button.btn.btn-default.btn-sm{"data-original-title" => "Collapse", "data-toggle" => "tooltip", "data-widget" => "collapse", :title => ""}
              %i.fa.fa-minus

            %a.btn.btn-default.btn-sm{:href => application_edit_path(app)}
              %i.fa.fa-edit

            %a.btn.btn-default.btn-sm{ :href => application_delete_path(app) }
              %i.fa.fa-trash-o

        .box-body
          %center
            = cl_image_tag(app.logo, :width => 250, :height => 200, :crop => :scale)
          %p{:style => "margin-top:10px"}
            = truncate(app.description,  length: 250, separator: '...')
        / /.box-body
        .box-footer
          %a.btn.btn-primary{:href => application_show_path(:id => app.slugs)}
            Ver mas
- else
  .col-md-12
    %p
      = t("apps.no_apps_message")
    %p
      %a{:href => application_create_path, :class => "btn btn-success"}
        = t("apps.add_title")
