= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      = t("apps.title")
      %small
        %a{:href => application_create_path}
          =  t("apps.add_link")
    %ol.breadcrumb
      %li
        %a{:href => applications_list_path}
          %i.fa.fa-code
          = t("apps.title")
      %li.active 
        = t("apps.home_breadcrumb")

  .content
    .row
      = paginate @user_sites    
    .row
      =  render :partial => 'applications/apps/partials/app_teasers', :locals => { :user_sites => @user_sites }  
     
        