= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      = cl_image_tag(@app.logo, :width => 60, :height => 40, :crop => :scale) 
      = @app.name
    %ol.breadcrumb
      %li
        %a{:href => applications_list_path}
          %i.fa.fa-code
          = t("apps.title")
      %li.active 
        = @app.name

  .content
    .row
      .col-md-6
        .box
          .box-body
            %p
              = @app.description   

            =  render :partial => 'activity/partials/activity_teasers', :locals => { :activities => @activities }

      .col-md-6
        =  render :partial => 'badge/partials/badge_teasers', :locals => { :badges => @badges }
              
