= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      = cl_image_tag(@app.logo, :width => 60, :height => 40, :crop => :scale)
      = @app.name
    %ol.breadcrumb
      %li
        %a{:href => applications_list_path}
          %i.fa.fa-code
          = t("apps.title")
      %li.active
        = @app.name

  .content
    .row
      .col-md-6
        .box
          .box-body
            %p
              = @app.description
            .alert.alert-info
              %strong
                = t("app_detail.access_token")
              %br
              %p  
                = @app.access_token  
        =  render :partial => 'activities/partials/activity_teasers', :locals => { :activities => @activities, :activities_count => @activities_count, :badgeable => false }
        - if !@activities.empty?
          =  render :partial => 'applications/apps/partials/activity_behavior', :locals => {:app => @app}


      .col-md-6
        =  render :partial => 'badges/partials/badge_teasers', :locals => { :badges => @badges }
        =  render :partial => 'subjects/partials/subject_teasers', :locals => { :users => @users }
        =  render :partial => 'events/partials/event_teasers', :locals => { :events => @events, :events_count => @events_count, :badgeable => true }
