= render "shared/main_menu"
.content-wrapper
  .content-header
    %h1
      = cl_image_tag(@app.logo, :width => 60, :height => 40, :crop => :scale)
      = "#{@app.name} - #{t('activities.title')}"
    %ol.breadcrumb
      %li
        %a{:href => applications_list_path}
          %i.fa.fa-code
          = t("apps.title")
      %li
        %a{href: application_show_path(@app)}
          = @app.name
      %li.active
        = t("activities.title")
  .content
    .row
      .col-md-12
        = paginate @activities
    .row
      =  render :partial => 'activities/partials/activities_list', :locals => { :activities => @activities }
    .row
      .col-md-12
        = paginate @activities
