= render "shared/main_menu"
%aside.right-side
  .content-header
    %h1
      %i.fa.fa-gears
      = t("edit_event.title", event:@event.name)

    %ol.breadcrumb
      %li
        %a{:href => events_list_path}
          %i.fa.fa-gears
          = t("events.title")
      %li.active
        = t("edit_event.title", event:@event.name)

  .content
    .row
      .col-md-12
        .box.box-primary
          .box-header
          = form_for @event, :as => "event_data", :url => event_update_path(@event), :html => { :multipart => true }, :method => :POST do |f|
            .box-body
              .form-group
                = f.label  t("create_event.name_lbl")
                = f.text_field :name, autofocus: true, :class => "form-control", :placeholder => t("create_event.name_lbl"), :required => true

              .form-group
                = f.label  t("create_event.value_lbl")
                = f.text_field :value,  :class => "form-control", :placeholder => t("create_event.value_lbl"), :required => true

              .form-group
                = f.label  t("create_event.count_lbl")
                = f.text_field :count,  :class => "form-control", :placeholder => t("create_event.count_lbl"), :required => true

              .form-group
                = f.label  t("create_event.activity_lbl")
                %strong
                  = t("edit_event.current_activity", activity: @event.activity.name)
                = select_tag :activity, options_from_collection_for_select(@activities, "id", "name"), :prompt => t("create_event.activity_prompt"), :class => "form-control", :required => true

              .form-group
                = f.label  t("create_event.badge_lbl")
                - unless @event.badge.nil?
                  %strong
                    = t("edit_event.current_badge", badge: @event.badge.name)
                = select_tag :badge, options_from_collection_for_select(@badges, "id", "name"), :prompt => t("create_event.badge_prompt"), :class => "form-control", :required => true

            .box-footer
              = f.submit t('create_event.submit_btn'), :class => "btn btn-success"
              %a{:href => events_list_path, :class => "btn btn-danger"}
                = t("create_event.cancel_btn")
