= render "shared/main_menu"
.content-wrapper
  .content-header
    %h1
      %i.fa.fa-gears
      = @event.name

    %ol.breadcrumb
      %li
        %a{:href => events_list_path}
          %i.fa.fa-gears
          = t("events.title")
      %li.active
        = @event.name

  .content
    .row
      .col-md-7
        #event_name{:style => "display:none"}
          = @event.id
        =  render :partial => 'events/partials/event_logs_list', :locals => { :event_logs => @event_logs }

      .col-md-5
        - if  !@event_logs.empty?
          =  render :partial => 'events/partials/logs_behavior', :locals => {:event => @event}
