.box
  .box-header.with-border
    %h3.box-title
      = t("branding.home.pricing.title")
  .box-body
    .row
      - if !plans.empty?
        - plans.each_with_index do |plan, index|
          .col-md-3
            = #(index + 1) % 4
            .description-block
              %h4.description-text
                = plan.name
              %span.description-percentage.text-green
                =  t("branding.home.pricing.app_limit", number: plan.apps_available)
              %br
              %h5.description-header
                = "$#{plan.monthly_price}"
              %br
              %a.btn.btn-block.btn-default.btn-flat{:href => "/users/sign_up"}
                = t("shared.user.sign_up")
