.col-md-12
  .box
    .box-header
    .box-body.table-responsive-no-padding
      - if !activities.empty?
        %table.table.table-hover
          %tbody
            %tr
              %th
                = t("activities_list.name_column")
              %th
                = t("activities_list.status_column")
              %th
                = t("activities_list.app_column")
              %th
                = t("activities_list.actions_column")

            - activities.each_with_index do |activity, index|
              %tr
                %td
                  = activity.name   
                %td
                  - if activity.is_active?
                    %span.badge.bg-green
                      = t("activities_list.active_badge")
                  - else
                    %span.badge.bg-red
                      = t("activities_list.inactive_badge") 
                %td
                  = activity.site.name
                %td
                  %a{:href => activity_detail_path(activity.site, activity)}
                    %i.fa.fa-eye
                    = t("activities_list.more_link")
                  \    
                  %a{:href => activity_edit_path(activity)}
                    %i.fa.fa-edit
                    = t("activities_list.edit_link")
                  \
                  %a{:href => activity_delete_path(activity)}
                    %i.fa.fa-trash-o
                    = t("activities_list.delete_link")  
