%h4
  = t("activity_logs.last_title")
- if !activity_logs.empty?
  .table-responsive.no-padding
    %table.table.table-hover
      %tbody
        %tr
          %th
            = t("activity_logs.subject_column")
          %th
            = t("activity_logs.date_column")

        - activity_logs.each_with_index do |log, index|
          %tr
            %td
              %a{href: subject_show_path(log.subject)}
                = log.subject.external_email
            %td
              = log.date.strftime("%d/%m/%y %H:%M:%S")
  %p
    %a.btn.btn-primary
      = t("activity_logs.more_link")
- else
  %p
    = t("activity_logs.empty_logs")
