.col-md-12
  .box
    .box-header
    .box-body.table-responsive-no-padding
      - if !events.empty?
        %table.table.table-hover
          %tbody
            %tr
              %th
                = t("events_list.name_column")
              %th
                = t("events_list.logs_column")
              %th
                = t("events_list.value_column")
              %th
                = t("events_list.count_column")
              %th
                = t("events_list.badge_column")
              %th
                = t("events_list.activity_column")
              %th
                = t("events_list.app_column")
              %th
                = t("events_list.actions_column")

            - events.each_with_index do |event, index|
              %tr
                %td
                  %a{:href => event_show_path(event)}
                    = event.name
                %td
                  -if !event.event_logs_count.nil? && event.event_logs_count > 0
                    %span.badge.bg-light-blue
                      = event.event_logs_count
                  - else
                    %span.badge.bg-light-blue
                      0
                %td
                  = event.value
                %td
                  = event.count
                %td
                  - if !event.badge.nil?
                    = cl_image_tag(event.badge.image, :width => 50, :height => 50, :crop => :scale)
                    %br
                    = event.badge.name
                  - else
                    %span.badge.bg-red
                      = t("events_list.empty_badge")    
                %td
                  = event.activity.name
                %td
                  = event.activity.site.name
                %td
                  %a{:href => event_show_path(event)}
                    %i.fa.fa-eye
                    = t("events_list.more_link")
                  \
                  %a{:href => event_edit_path(event)}
                    %i.fa.fa-edit
                    = t("events_list.edit_link")
                  \
                  %a{:href => event_delete_path(event)}
                    %i.fa.fa-trash-o
                    = t("events_list.delete_link")

      - else
        %p
          = t("events.no_events_message")
        %p
          %a{:href => event_create_path, :class => "btn btn-success"}
            = t("events.add_title")
