.box
  .box-header
    %h4.box-title
      = t("event_logs.title")
  .box-body
    = paginate event_logs

    - if !event_logs.empty?
      %table.table.table-hover
        %tbody
          %tr
            %th
              = t("event_log_list.date_column")
            %th
              = t("event_log_list.subject_column")
            %th
              = t("event_log_list.badge_column")
            %th
              = t("event_log_list.app_column")
            %th
              = t("event_log_list.activity_column")
        - event_logs.each_with_index do |log|
          %tr
            %td
              = log.date.strftime("%Y-%m-%d %H:%M")
            %td
              %a{href: subject_show_path(log.subject)}
                = log.subject.external_email
            %td
              = log.event.badge.name
            %td
              %a{href: application_show_path(log.event.activity.site)}
                = log.event.activity.site.name
            %td
              %a{href: activity_detail_path(log.event.activity.site, log.event.activity)}
                = log.event.activity.name

    - else
      %p
        = t("event_log_list.no_data")
